.wrapper {
}

.editorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  width: 100%;
  height: 220px;
}

.editor {
  width: 400px;
  height: 400px;

  * {
    font-family: 'Source Code Pro', monospace;
  }

  .lines {
    width: 50px;
    padding: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: right;

    border-radius: 10px 0 0 10px;
    border-right: 2px solid $color-lines;
    background-color: $color-bg-editor;

    p {
      color: $color-lines;
    }
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3c2222 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3c2222;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }
}

.editorInput {
  border-radius: 0 10px 10px 0;
}

textarea {
  padding: 10px;

  font-size: 18px;
  line-height: 1;
  color: $color-text-editor;

  border-radius: 10px;
  background-color: $color-bg-editor;
  resize: none;
  outline: none;
  border: none;
  overflow: auto;
}

.editorControls {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    padding: 0;
    min-width: 50px;
    width: 50px;
    height: 50px;

    font-size: 18px;

    background-color: $color-element-bg;

    img:last-child {
      width: 40px;
    }

    &:disabled {
      img {
        filter: brightness(50%);
      }
    }

  }

  .endpoint {
    width: 154px;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;

    overflow: auto;
    font-size: 14px;
    text-overflow: clip;

    border-radius: 10px;
    background-color: $color-endpoint-bg;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $color-element-active;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $color-element-bg;
    border-radius: 10px;
  }

  .prettify {
    width: 116px;
  }
}

.editorUtils {
  display: flex;
  justify-content: center;
  gap: 10px;

  .headers {
    width: 55%;
  }

  .variables {
    width: 45%;
  }

  textarea {
    width: 100%;
    height: 110px;
  }
}

.run {
  height: 80px;
  width: 80px;
  background: $color-bg-gradient-alt;

  img {
    width: 40px;
    height: 40px;
    transition: $transition;
  }

  &:hover {
    img {
      filter: contrast(200%);
      transform: scale(1.12);
    }
  }
}

.inputViewer {
  width: 400px;
  height: 400px;
  background: $color-bg-gradient;
}