* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: $color-text;
}

a {
  color: $color-link;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

body {
  min-width: 320px;
  background-color: $color-bg;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $color-text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $color-element-active;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $color-bg-secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-icon;
  border-radius: 10px;
}
