@import './vars';

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: $color-text;
}

a {
  color: $color-link;
}

body {
  background-color: $color-bg;
}

body > #root {
  padding: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $color-text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}
