h2 {
  font-weight: 700;

  @media (max-width: 576px) {
    font-size: 20px;
  }
}

.footer {
  height: 60px;
  display: flex;
  background-color: $color-bg-secondary;
}

.linksList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 0 auto;
  list-style: none;

  @media (max-width: 576px) {
    gap: 16px;
  }
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.imageBlock {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: 576px) {
    width: 30px;
    height: 30px;
  }
}

.logo {
  width: 108px;
  height: auto;
  padding: 5px;

  @media (max-width: 576px) {
    width: 80px;
  }

  & * {
    transition: fill 0.2s;
  }

  &:hover * {
    fill: $color-white;
  }
}
